/* css reset */

* {
    margin: 0;
    padding: 0;
}

/* css variables */
:root {
    --navbar-height: 30px;
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;

}

/* navigation bar list */

#navbar ul {
    display: flex;

}

#navbar ul li {
    list-style: none;
    font-size: 1.1rem;
}

#navbar ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 16px;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* navigation bar logo */

.logo img {
    height: 56px;
    width: 56px;
    margin: 35px 34px;
}

/* Home section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 578px;
}

#home::before {
    content: '';
    position: absolute;
    background: url('../image/background.jpeg') no-repeat center center/cover;
    height: 82%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;


}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: cursive;
}

/* services section */

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 15px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img {
    height: 100px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Bree Serif', serif;

}

/* client section */
#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../image/healthy.jpeg') no-repeat center center/cover;
    ;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 94px;

}

/* contact */

#contact {
    position: relative;
    color: white;
}

#contact::before {
    content: '';
    position: absolute;
    background: url('../image/contact_us.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;

}

#contact-box {
    display: flex;
    margin: auto;
    justify-content: start;
    padding-bottom: 44px;
    padding-left: 60px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: cursive;

}

label {
    display: block;
    margin-top: 5px;
    /* space below label */

}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* utility classes */

.h-primary center {
    font-size: 3.2rem;
    padding: 12px;
}

.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 1.0rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    border-radius: 4px;
    margin: 17px;
    font-size: 1.2rem;
    cursor: pointer;
}

.center {
    text-align: center;
}